<div class="row">
	<div class="fixed-action-btn home-options horizontal">
		<a class="btn-floating btn-large teal lighten-1">
			<i class="large material-icons">mode_edit</i>
		</a>
		<ul>
			<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
			<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
			<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
			<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
		</ul>
	</div>
	<div class="col s3">
		<div class="dashboard_icon_box">
			<i class=""></i>
			<div class="stats">
				<h5><strong>69%</strong></h5>
                <span>League rating</span>
			</div>
		</div>
	</div>
	<div class="col s3">
		<div class="dashboard_icon_box">
			<i class=""></i>
			<div class="stats">
				<h5><strong>666</strong></h5>
                <span>League Visitors</span>
			</div>
		</div>
	</div>
	<div class="col s3">
		<div class="dashboard_icon_box">
			<i class=""></i>
			<div class="stats">
				<h5><strong>6</strong></h5>
                <span>League Teams</span>
			</div>
		</div>
	</div>
	<div class="col s3">
		<div class="dashboard_icon_box">
			<i class=""></i>
			<div class="stats">
				<h5><strong>$6969</strong></h5>
                <span>League Profits</span>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col s12">
		<h1>Content Page</h1>
		<p>
			This is where the template of the vast amount of pages will be loaded. This will keep it a single page applcatino. The main page will inject the html that needs to be loaded to the user. While the top nav bar will allow the user to view the rest of the website, which will be separate pages
		</p>
		<a class="waves-effect waves-light btn">Button</a>
	</div>
</div>