<div class="row">
	<div class="col-md-3 dashboard_widget">
		<div class="dashboard_icon_box">
			<i class="pull-left fa fa-thumbs-up icon-rounded fa-3x"></i>
			<div class="stats">
				<h5><strong>69%</strong></h5>
                <span>Material rating</span>
			</div>
		</div>
	</div>
	<div class="col-md-3 dashboard_widget">
		<div class="dashboard_icon_box">
			<i class="pull-left fa fa-users user1 icon-rounded fa-3x"></i>
			<div class="stats">
				<h5><strong>666</strong></h5>
                <span>Visitors</span>
			</div>
		</div>
	</div>
	<div class="col-md-3 dashboard_widget">
		<div class="dashboard_icon_box">
			<i class="pull-left fa fa-comment user2 icon-rounded fa-3x"></i>
			<div class="stats">
				<h5><strong>12</strong></h5>
                <span>Pages</span>
			</div>
		</div>
	</div>
	<div class="col-md-3 dashboard_widget">
		<div class="dashboard_icon_box">
			<i class="pull-left fa fa-dollar dollar1 icon-rounded fa-3x"></i>
			<div class="stats">
				<h5><strong>$6969</strong></h5>
                <span>Material Profits</span>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h1>Content Page</h1>
		<p>This is where the template of the vast amount of pages will be loaded. This will keep it a single page applcatino. The main page will inject the html that needs to be loaded to the user. While the top nav bar will allow the user to view the rest of the website, which will be separate pages</p>
		<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p><a class="btn btn-default" href="#menu-toggle" id="menu-toggle">Toggle Menu</a>
	</div>
</div>