<div class="grey lighten-4 col s2 m2 ">
    <ul>
        <li>
            <div>
                <a
                    class="waves-effect waves-teal menu-item-link col s12 m12"
                    routerLinkActive="grey lighten-2"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['.']" >
                    <i class="tiny material-icons dashIcon grey-text">dashboard</i>
                    <span class='navBtn'>Home</span> 
                </a>
            </div>
        </li>
        <li>
            <div>
                <a
                    class="waves-effect waves-teal menu-item-link col s12 m12"
                    routerLinkActive="grey lighten-2"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['league']" >
                    <i class="tiny material-icons dashIcon grey-text">view_quilt</i>
                    <span class='navBtn'>League</span> 
                </a>
            </div>
        </li>
        <li>
            <div>
                <a
                    class="waves-effect waves-teal menu-item-link col s12 m12"
                    routerLinkActive="grey lighten-2"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['team']" >
                    <i class="tiny material-icons dashIcon grey-text">supervisor_account</i>
                    <span class='navBtn'>My Team</span> 
                </a>
            </div>
        </li>
        <li>
            <div>
                <a
                    class="waves-effect waves-teal menu-item-link col s12 m12"
                    routerLinkActive="grey lighten-2"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['matchups']" >
                    <i class="tiny material-icons dashIcon grey-text">view_module</i>
                    <span class='navBtn'>Matchups</span> 
                </a>
            </div>
        </li>
        <li>
            <div>
                <a
                    class="waves-effect waves-teal menu-item-link col s12 m12"
                    routerLinkActive="grey lighten-2"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['draft']" >
                    <i class="tiny material-icons dashIcon grey-text">repeat</i>
                    <span class='navBtn'>Draft</span> 
                </a>
            </div>
        </li>
        <li>
            <div>
                <a
                    class="waves-effect waves-teal menu-item-link col s12 m12"
                    routerLinkActive="grey lighten-2"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['settings']" >
                    <i class="tiny material-icons dashIcon grey-text">settings</i>
                    <span class='navBtn'>Settings</span> 
                </a>
            </div>
        </li>
    </ul>
</div>