<div class="row">
    <h3>
        Draft Central Overview
        <hr> 
    </h3>
    <div class="col s5">
        <h3>
            Available Players
        </h3>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="name">Name</th>
                    <th data-field="postion">Postion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players; let i = index;" (click)="onPick(player, i)">
                    <td>{{player.playerID}}</td>
                    <td>{{player.lastName}}  {{player.firstName}}</td>
                    <td>{{player.postion}}</td>
                </tr>
            <tbody>
        </table>
    </div>
    <div class="col s7">
        <div class="col s6">
            <div class="card" id="profile-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <span class="badge red white-text">Current Team</span>
                    <img alt="user background" class="activator" src="http://localhost:5000/images/Card-Background.jpg">
                </div>
                <div class="card-content">
                    <img alt="" class="circle responsive-img activator card-profile-image" src="http://localhost:5000/images/User-Icon.png">
                    <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                        <i class="mdi-action-account-circle"></i>
                    </a> 
                    <span class="card-title activator grey-text text-darken-4">Team Manager</span>
                    <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Andrew Kralovec</p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Team Manager 
                        <i class="mdi-navigation-close right"></i>
                    </span>
                    <p>Team States</p>
                    <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Manager</p>
                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 18th June 1990</p>
                    <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <h3>
                Drafted Players
            </h3>
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="name">Name</th>
                        <th data-field="postion">Postion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dp of draftedPlayers">
                        <td>{{dp.playerID}}</td>
                        <td>{{dp.lastName}}  {{dp.firstName}}</td>
                        <td>{{dp.postion}}</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>
</div>



