<header>
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                Some Title 
                <i class="material-icons left hide-on-med-and-down">apps</i>
            </a>
            <ul class="right" [ngSwitch]="ls.isLoggedIn()">
                <template [ngSwitchCase]="false">
                    <li>
                        <a [routerLink]="['/login']">
                            <i class="small material-icons left">account_circle</i>
                        </a>
                    </li>
                </template>
                <template [ngSwitchCase]="true">
                    <li>
                        <a [routerLink]="['/dashboard']">
                            <i class="small material-icons left">home</i>
                        </a>
                    </li>
                    <li>
                        <a (click)="ls.logout()">
                            <i class="small material-icons left">lock_open</i>
                        </a>
                    </li>
                </template>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li id="timer-tab"><a href="">Tab 1</a></li>
                <li id="stats-tab"><a href="">Tab 2</a></li>
                <li id="graphs-tab"><a href="">Tab 3</a></li>
                <li><a href="" data-activates="dropdown" class="dropdown-button">Tab 4<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
  </header>