<div class="row" *ngIf="!team">
    <loader-component></loader-component>
</div>
<div class="row" *ngIf="team">
    <div class="col s12">
        Team Information
    </div>
    <div class="col s4">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://localhost:5000/images/Team-Logo.jpeg">
                    </div>
                    <div class="card-content teal">
                        <span>
                            Possilble Team information
                        </span>
                    </div>
                    <div class="card-action center">
                        <a href="#">{{ team.manager.managerName }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <ul class="collection with-header">
            <li class="collection-header">
                <h4>Something</h4>
            </li>
            <li class="collection-item">
                Thing
            </li>
            <li class="collection-item">
                Thing
            </li>
            <li class="collection-item">
                Thing
            </li>
        </ul>
    </div>
    <div class="col s4">
        <div class="row">
            <div class="col s12">
                <div class="card-header teal">
                    <div class="card-title">
                        <h4 class="flight-card-title white-text">Record</h4>
                    </div>
                </div>
                <div class="card-panel">
                    <h3 class="">
                        0-0
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <h3>
            Players
        </h3>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="name">Name</th>
                    <th data-field="postion">Postion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tp of team.players">
                    <td>{{tp.player.playerID}}</td>
                    <td>{{tp.player.lastName}}  {{tp.player.firstName}}</td>
                    <td>{{tp.player.postion}}</td>
                </tr>
            <tbody>
        </table>
    </div>
</div>