.page-header .card-image {
    height: 250px;
}

.page-header .profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

.page-header .card-content {
    margin-top: -40px;
}