<div class="row" *ngIf="!league">
    <loader-component></loader-component>
</div>
<div class="row" *ngIf="league">
	<div class="col s12">
	<ul class="tabs" materialize="tabs">
		<li class="tab col s3"><a class="active" href="#test1">Home</a></li>
		<li class="tab col s3"><a href="#test2">Members</a></li>
		<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
		<li class="tab col s3"><a href="#test4">Schedule</a></li>
	</ul>
	</div>
	<div id="test1" class="col s12">
		<div class="col s5">
			<div class="card">
				<div class="card-image">
					<img src="{{league.leagueLogo | imageSrc}}">
				</div>
				<div class="card-content teal">
					<span>
						{{ league.leagueName }}
					</span>
				</div>
				<div class="card-action center">
					<a>Commissioner</a>
				</div>
			</div>
		</div>
	</div>
	<div id="test2" class="col s12">
		<div class="col s5">
			<ul class="collection with-header">
				<li class="collection-header">
					<h4>{{ league.leagueName }} Mememebrs </h4>
				</li>
				<li class="collection-item" *ngFor="let team of league.teams" >
					{{ team.teamName }}
				</li>
			</ul>
		</div>
	</div>
	<div id="test3" class="col s12">

	</div>
	<div id="test4" class="col s12">
		Schedule
	</div>
</div>