<div class="row">
	<div class="col s12">
	<ul class="tabs" materialize="tabs">
		<li class="tab col s3"><a class="active" href="#test1">Home</a></li>
		<li class="tab col s3"><a href="#test2">Members</a></li>
		<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
		<li class="tab col s3"><a href="#test4">Schedule</a></li>
	</ul>
	</div>
	<div id="test1" class="col s12">
		<div class="col s12">
			<div class="card">
				<div class="card-image">
					<img src="http://localhost:5000/images/Team-Logo.jpeg">
				</div>
				<div class="card-content teal">
					<span>
						Possilble Commissioner information
					</span>
				</div>
				<div class="card-action center">
					<a href="#">Commissioner</a>
				</div>
			</div>
		</div>
	</div>
	<div id="test2" class="col s12">
		Members
	</div>
	<div id="test3" class="col s12">

	</div>
	<div id="test4" class="col s12">
		Schedule
	</div>
</div>