<div class="row" id="register-page">
	<div class="col s6 offset-s3 z-depth-4 card-panel">
		<form class="register-form" [formGroup]="registerForm" novalidate (ngSubmit)="register(registerForm.value, registerForm.valid)">
			<div class="row">
				<div class="input-field col s12 center">
					<img alt="" class="circle responsive-img valign profile-image-register" src="">
					<p class="center register-form-text">register EFantasySports</p>
				</div>
			</div>
			<div class="row margin">
				<div class="input-field col s12">
					<i class="material-icons prefix">perm_identity</i> 
                    <input id="email" type="email" formControlName="email"> 
					<label class="center-align" for="email">Email</label>
				</div>
			</div>
			<div class="row margin">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i> 
                    <input id="password" type="password" formControlName="password"> 
					<label class="center-align" for="password">Password</label>
				</div>
			</div>
			<div class="row margin">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i> 
                    <input id="confirmPassword" type="password" formControlName="confirmPassword"> 
					<label class="center-align" for="confirmPassword">Confirm Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<button class="btn waves-effect waves-light col s12" type="submit">register</button>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6 m6 l6">
					<p class="margin medium-small">
                        <a>Already have an account? Login</a>
                    </p>
				</div>
			</div>
		</form>
	</div>
</div>